extends ../layout

include ../includes/_paginate

block content
  .container
    form.form-inline.search-input-group(action='/questions', method='GET')
      i.fa.fa-search.fa-spin.fa-spinner
      ul.suggest-box
      input.form-control.mr-sm-2(type='text', name='term', id='q', placeholder='Search for events by keyword, location, type, ....', aria-label='Search', value=term)
    script(src="/javascripts/autocomplete.js")

    h1.main-title 
      | EVENTS
      if questions.total > 0
        .small Total #{questions.total} events(s)

    if questions.total <= 0 
      .alert.alert-info No Events available yet
    else
      .questions
        each question in questions.docs
          .question
            a.title(href=`/questions/${question.id}`)= question.title
            |  / 
            a.location(href=`/questions/${question.id}`)= question.location
            |  / 
            a.date(href=`/questions/${question.id}`)= question.date

      +paginate(questions, '/questions', query)

    hr
    a.btn.btn-primary(href='/questions/new') CREATE EVENT